# Generated BUILD file
BUILD

# VS Code files
**/.vscode/
*.code-workspace

#eclipse project files
.project
.pydevproject

# Configuration
src/instance/app.cfg
src/instance/search-config.yaml

# log files in any path
**/*.log

# Rotated log files
**/*.log*

.idea

*.DS_Store

**/__pycache__/

# Ignore docker env file
docker/.env

# Docker copied files and directories
docker/search-api/src
docker/search-api/VERSION
docker/search-api/BUILD

# Portal cache
src/hubmap_translation/addl_index_transformations/portal/cache/*.jsonld


# python virtual environments
**/.venv