[submodule "src/elasticsearch/addl_index_transformations/portal/portal-visualization"]
	path = src/elasticsearch/addl_index_transformations/portal/portal-visualization
	url = https://github.com/hubmapconsortium/portal-visualization.git
