[submodule "src/elasticsearch/addl_index_transformations/portal/search-schema"]
	path = src/elasticsearch/addl_index_transformations/portal/search-schema
	url = https://github.com/hubmapconsortium/search-schema.git
