# Docker stuff
docker/data
docker/search-api/src

src/instance/app.cfg

log/*.log

src/elasticsearch/.vscode/
src/elasticsearch/instance
src/elasticsearch/conf.py
src/elasticsearch/conf.ini
src/search_api.egg-info

__pycache__/
