language: python
python:
  - "3.9"
services:
  - elasticsearch
before_script:
  - sleep 10  # Advised by https://docs.travis-ci.com/user/database-setup/#elasticsearch
install:
  - pip install -r src/search-adaptor/src/requirements.txt
  - pip install -r src/search-adaptor/src/requirements-dev.txt
script:
  - ./test.sh
