language: python
python:
  - '3.7'
cache: pip
services:
  - elasticsearch
before_script:
  - sleep 10  # Advised by https://docs.travis-ci.com/user/database-setup/#elasticsearch
env:
  - COMMONS_BRANCH=master
install:
  - pip install -r src/requirements.txt
  - pip install -r src/requirements-dev.txt
script:
  - ./test.sh
