[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
neo4j = "*"
request = "*"
flask = "*"
hubmap-commons = {editable = true,git = "git://github.com/hubmapconsortium/commons.git"}
search-api = {editable = true,path = "."}

[requires]
python_version = "3.7"
