openapi: 3.0.0
info:
  description: The HuBMAP Search API is a thin wrapper of the Elasticsearch API. It handles data indexing and reindexing into the backend Elasticsearch. It also accepts the search query and passes through to the Elasticsearch with data access security check.
  version: 3.0.1
  title: HuBMAP Search API
  termsOfService: 'https://hubmapconsortium.org'
  contact:
    name: HuBMAP Help Desk
    email: help@hubmapconsortium.org
  license:
    name: MIT License
    url: 'https://github.com/hubmapconsortium/entity-api/blob/master/license.txt'
externalDocs:
  description: Generating a HuBMAP CLT Manifest with search-api
  url: https://docs.hubmapconsortium.org/clt/generate-manifest.html
servers:
  - url: "https://search.api.hubmapconsortium.org/v3/"
components:
  schemas:
    requestJsonBody:
      type: object
      description: JSON that describes an Elasticsearch [DSL query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html)
    AssayTypeQueryDict:
      type: object
      properties:
        name:
          type: string
    AssayTypeReturnDict:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        primary:
          type: boolean
        vitessce-hints:
          type: array
          items:
            type: string
    SearchResponse:
      type: object
      description: The response from calls to /search will include objects from indices related for entities, files, or antibodies. Schema elements are documented in [entity-api](https://smart-api.info/ui/0065e419668f3336a40d1f5ab89c6ba3).
tags:
  - name: 'Search API, Elasticsearch'
    description: Operations pertaining to datasets indexed in Elasticsearch
  - name: assaytype
    description: Operations pertaining to assay types

externalDocs:
  description: Elasticsearch API Documentation
  url: https://www.elastic.co/guide/en/hubmap_translation/reference/current/search-your-data.html

paths:

  '/assaytype':
    get:
      tags:
        - assaytype
      summary: Get a list of HuBMAP assay type names or descriptive dicts
      operationId: listAssayType
      parameters:
        - name: primary
          in: query
          description: >
             If present and true, restrict list to primary datasets.
             A primary dataset is one for which no parent is a dataset.
             If present and false, restrict list to datasets which are not primary.
          required: false
          schema:
             type: boolean
        - name: simple
          in: query
          description: >
             If present and true, list only assay type names.  Otherwise return a list
             of descriptive dicts.
          required: false
          schema:
             type: boolean
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssayTypeReturnDict'
        "400":
          description: The user sent a bad parameter (e.g. a nonexistent group name) or there was a system error
        "401":
          description: User's token is not valid

  '/assaytype/{name}':
    get:
      tags:
        - assaytype
      summary: Get a descriptive dict for a single assay type
      operationId: getAssayType
      parameters:
        - name: primary
          in: query
          description: >
             If present and true, restrict list to primary datasets.
             A primary dataset is one for which no parent is a dataset.
             If present and false, restrict list to datasets which are not primary.
          required: false
          schema:
             type: boolean
        - name: simple
          in: query
          description: >
             If present and true, list only assay type names.  Otherwise return a list
             of descriptive dicts.
          required: false
          schema:
             type: boolean
        - name: name
          in: path
          description: An assay type name or single-word alternate name
          required: true
          schema:
             type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypeReturnDict'
        "400":
          description: The user sent a bad parameter (e.g. a nonexistent group name) or there was a system error
        "401":
          description: User's token is not valid

  '/assayname':
    post:
      tags:
        - assaytype
      summary: Get a descriptive dict for a single assay type
      operationId: postAssayName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssayTypeQueryDict'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypeReturnDict'
        "400":
          description: The user sent a bad parameter (e.g. a nonexistent group name) or there was a system error
        "401":
          description: User's token is not valid

  '/indices':
    get:
      tags:
        - indices
      summary: Reindex for a given UUID of dataset.  Use this method to obtain a list of valid indices within the search-api endpoint.  These index names are used in some of the subsequent calls made to the endpoint.
      operationId: get-indices
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  indices:
                    example: ["entities", "portal"]
                    type: array
                    items:
                      type: string
        '400':
          description: Bad request. A JSON body and appropriate Content-Type header are required in request
        '401':
          description:  A valid globus token in the `Authorization` header (Bearer scheme) is required in request
        '403':
          description: The globus token used in the `Authorization` header doesn't have the right group access permission

  '/search':
    post:
      tags:
        - search
      summary: Executes an Elasticsearch DSL query JSON via POST and returns hits that match the query.
      parameters:
        - name: produce-clt-manifest
          in: query
          description: An optional parameter that, when set to "true", will make the endpoint return a text representation of a manifest file that corresponds with the datasets queried rather than the original response
          required: false
          schema:
            type: string
      description: To execute a query, the POST method must provide 1) a request body that specifies an [Elasticsearch Query DSL statement](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-your-data.html) 2) a bearer token in the Authorization header supplied by HuBMAP. Results are limited to those authorized by the bearer token. Uses the <strong>hm_consortium_entities</strong> index by default.
      operationId: search-post
      requestBody:
        description: A JSON that describes a [DSL query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html). The query will likely be a compound boolean.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestJsonBody'
            example: {
  "query": {
    "bool": {
      "must": [
        {
          "match_phrase": {
            "donor.group_name": "Vanderbilt TMC"
          }
        }
      ],
      "filter": [
        {
          "match": {
            "entity_type.keyword": "Sample"
          }
        }
      ]
    }
  }
}
      responses:
        '200':
            description: Returns search hits from backend Elasticsearch that match the query defined in the request JSON
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SearchResponse'
        '400':
            description: Bad request. A JSON body and appropriate Content-Type header are required in request
        '401':
            description:  A valid globus token in the `Authorization` header (Bearer scheme) is required in request
        '403':
          description: The globus token used in the `Authorization` header doesn't have the right group access permission

  '/{index_name}/search':
    post:
      tags:
        - search_by_index
      summary: Executes an Elasticsearch DSL query JSON via POST and returns hits that match the query. The response is limited to hits against the specified index_name parameter. Values for index_name can be obtained by calling the /indices endpoint.
      description: To execute a query, the POST method must provide 1) a request body that specifies an [Elasticsearch Query DSL statement](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-your-data.html) 2) a bearer token in the Authorization header supplied by HuBMAP. Results are limited to those authorized by the bearer token. Uses the <strong>hm_consortium_entities</strong> index by default.
      operationId: search-post-by-index
      parameters:
        - name: index_name
          in: path
          description: the name of an existing Elasticsearch index (Use the <i>/indices</i> web service call to obtain the list of indices)
          required: true
          schema:
            type: string
        - name: produce-clt-manifest
          in: query
          description: An optional parameter that, when set to "true", will make the endpoint return a text representation of a manifest file that corresponds with the datasets queried rather than the original response
          required: false
          schema:
            type: string
      requestBody:
        description: A JSON that describes a [DSL query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html). The query will likely be a compound boolean.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestJsonBody'
            example: {
  "query": {
    "bool": {
      "must": [
        {
          "match_phrase": {
            "donor.group_name": "Vanderbilt TMC"
          }
        }
      ],
      "filter": [
        {
          "match": {
            "entity_type.keyword": "Sample"
          }
        }
      ]
    }
  }
}

      responses:
        '200':
          description: Returns search hits from backend Elasticsearch that match the query defined in the request JSON
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request. A JSON body and appropriate Content-Type header are required in request
        '401':
          description:  A valid globus token in the `Authorization` header (Bearer scheme) is required in request
        '403':
          description: The globus token used in the `Authorization` header doesn't have the right group access permission

  '/param-search/{entity_type}':
    get:
      tags:
        - param_search_index
      summary: Executes an Elasticsearch DSL query JSON via POST and returns hits that match the query.
      parameters:
        - name: produce-clt-manifest
          in: query
          description: An optional parameter that, when set to "true", will make the endpoint return a text representation of a manifest file that corresponds with the datasets queried rather than the original response
          required: false
          schema:
            type: string
        - name: entity-type
          in: path
          description: The entity type to be returned
          schema:
            type: string
      description: Searches datasets based on the given parameter entity-type ('donor', 'dataset', 'sample', etc). GET method must provide a bearer token in the Authorization header supplied by HuBMAP. Results are limited to those authorized by the bearer token. 
      operationId: param-search-get
      responses:
        '200':
          description: Returns search hits from backend Elasticsearch that match the parameter
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request. A valid entity-type parameter is required in request
        '401':
          description:  A valid globus token in the `Authorization` header (Bearer scheme) is required in request
        '403':
          description: The globus token used in the `Authorization` header doesn't have the right group access permission

  '/reindex/{identifier}':
    put:
      tags:
        - reindex
      summary: Reindex for a given UUID of dataset
      operationId: reindex
      parameters:
        - name: identifier
          in: path
          description: The unique identifier of collection.  This must be a UUID.
          required: true
          schema:
            type: string
      responses:
        '202':
          description: The request has been accepted and reindex is in process


