services:
  
  search-api:
    hostname: search-api
    container_name: search-api
    # Map host machine port 4444 to container port 8080
    # Only root can listen on ports below 1024, we use higher-numbered ports
    # since nginx is running under non-root user hubmap
    ports:
      - "4444:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      # UID and GID 1001 to match the hive user by default
      - HOST_GID=${HOST_GID:-1001}
      - HOST_UID=${HOST_UID:-1001}
    init: true
    restart: always
    volumes:
      # Mount the app config to container in order to keep it outside of the image
      - "../src/instance:/usr/src/app/src/instance"
      # To avoid permission issue
      - "../src/hubmap_translation/addl_index_transformations/portal/cache:/usr/src/app/src/hubmap_translation/addl_index_transformations/portal/cache"
      # Mount the logging to container
      - "../log:/usr/src/app/log"
      # Mount the reindex scripts to container
      - "../scripts:/usr/src/app/scripts"
      # Mount conf.d on host machine to the nginx conf.d on container
      - "./search-api/nginx/conf.d:/etc/nginx/conf.d"
    networks:
      - gateway_hubmap
    # Send docker logs to AWS CloudWatch
    logging: 
      driver: awslogs
      options:
        awslogs-region: us-east-1
        awslogs-group: ${LOG_GROUP}
        awslogs-stream: ${LOG_STREAM}

  jobq-redis:
    image: redis:8.2.3
    hostname: jobq-redis
    container_name: jobq-redis
    ports:
        - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    # NOTE: The dhi image doesn't work as easily due to hardened security
    # image: dhi.io/redis:8.2.3
    # environment:
    #   REDIS_PASSWORD: jobq-secret
    # command:
    #   [
    #     "redis-server",
    #     "--bind", "0.0.0.0",
    #     "--protected-mode", "yes",
    #     "--requirepass", "jobq-secret"
    #   ]
    # healthcheck:
    #   test: ["CMD", "redis-cli", "-a", "jobq-secret", "ping"]
    #   interval: 1m30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
    networks:
      - gateway_hubmap

networks:
  # This is the network created by gateway to enable communicaton between multiple docker-compose projects
  gateway_hubmap:
    external: true
