# AWS ElasticSearch Endpoint
ELASTICSEARCH_URL = 'https://search-hubmap-entity-es-dev-zhdpuhhf2vjpvqfq7zmn2gdgqq.us-east-1.es.amazonaws.com'

ENTITY_WEBSERVICE_URL = 'http://localhost:5003/'

# Globus app client ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus Hubmap-Read group UUID
GLOBUS_HUBMAP_READ_GROUP_UUID = '5777527e-ec11-11e8-ab41-0af86edb4424'
