# this file allows multiple Elasticsearch indices to be configured and accessible
# via the search endpoints

# default index name for endpoints that don't specify an index
default_index: entities

# specify multiple indices
indices:
  entities: 
    active: true
    public: hm_public_entities 
    private: hm_consortium_entities
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "search-default-config.yaml"

  portal: 
    active: true
    public: hm_public_portal
    private: hm_consortium_portal
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "addl_index_transformations/portal/config.yaml"
    transform:
      module: elasticsearch.addl_index_transformations.portal

  hm_antibodies:
    active: true
    public: hm_antibodies
    private: hm_antibodies
    elasticsearch:
      url: <ES URL>
