# this file allows multiple Elasticsearch indices to be configured and accessible
# via the search endpoints

# Soft assay support via ingest-api GET /assaytype/<dataset-id> endpoint
# Omit the <dataset-id> in this config 
ingest_api_soft_assay_url: https://ingest-api.dev.hubmapconsortium.org/assaytype/ 

# default index name for endpoints that don't specify an index
default_index: entities

# specify multiple indices
indices:
  entities: 
    active: true
    # Set to "sn_" instead of "hm_" for SenNet
    reindex_enabled: true
    public: hm_public_entities
    private: hm_consortium_entities
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "hubmap_translation/search-default-config.yaml"

  portal: 
    active: true
    #Set to "sn_" instead of "hm_" for SenNet
    reindex_enabled: true
    public: hm_public_portal
    private: hm_consortium_portal
    # Use `http://entity-api:8080` for non-localhost docker deployment
    document_source_endpoint: <Server URL for source documents>
    elasticsearch:
      url: <ES URL>
      mappings: "hubmap_translation/addl_index_transformations/portal/config.yaml"
    transform:
      module: hubmap_translation.addl_index_transformations.portal

  # Only used by antibody-api to query stored documents via search-api
  # The indexer.py doesn't use this index
  hm_antibodies:
    active: true
    reindex_enabled: false
    public: hm_antibodies
    private: hm_antibodies
    elasticsearch:
      url: <ES URL>

  files:
    active: true
    reindex_enabled: false
    public: hm_dev_public_files
    private: hm_dev_consortium_files
    elasticsearch:
      url: <ES URL>
