[LocalServerSettings]
EXEC_INFO_DIR=./exec_info
MAX_EXPECTED_CATCH_UP_UUID_COUNT=2000

[FullReindexSettings]
; from FillStrategyType.py FillStrategyType enum
FILL_STRATEGY_ENUM=CREATE_FILL
;FILL_STRATEGY_ENUM=CREATE_FILL_SWAP
;FILL_STRATEGY_ENUM=CLONE_ADD_SWAP
;FILL_STRATEGY_ENUM=EMPTY_FILL